* {
    font-family: "Open Sans";
    font-size: 12px;
}

body {
    width: auto;
    height: 98vh;
    position: relative;
}

#container, #main, #top-nav, #footer {
    margin: 0;
}

#container {
  border: 2px solid yellow;
  padding: 1px;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

li {
  list-style: none;
  font-size: 12px;
  display: inline-block;
  margin: 0 10px;
}

#top-nav {
  border: 2px solid green;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#main {
  border: 2px solid purple;
  padding: 10px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#logo {
  width: 70%;
}

#search-field {
  width: 500px;
  height: 40px;
  border-radius: 40px;
  text-indent: 20px;
  border: 1px solid #EFEFEF;
  box-shadow: 2px 3px 5px #EFEFEF;
}

input[type="submit"] {
  font-size: 14px;
  margin: 15px auto;
  -moz-appearance: none;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
}

#footer-top {
  height: 40px;
  width: 100%;
  background: #F2F2F2;
  text-indent: 20px;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  display: flex;
  align-items: center;
}

#footer-bottom {
  height: 40px;
  width: 100%;
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 0;
}

#footer-left {
  border: 2px solid black;
}

#footer-right {
  border: 2px solid red;
}